HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
covers

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
node
node_modules

!og-logo.png
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.jpg
*.png
*.webp
*.svg
!**/src/main/resources/static/images/image-not-available.png
!**/src/main/resources/static/images/placeholder-book-cover.svg

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
target_test-classes
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.claude

### VS Code ###
.vscode/

### Environment Variables ###
.env
.env.local
.env.development
.env.test
.env.production
