<div xmlns:th="http://www.thymeleaf.org" th:fragment="affiliateDropdown(affiliateLinks)">
    <div class="btn-group mb-2 affiliate-dropdown">
        <button type="button" class="btn btn-warning btn-affiliate dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <i class="fas fa-shopping-cart me-2"></i> Amazon.com
        </button>
        <ul class="dropdown-menu">
            <li th:if="${affiliateLinks.amazon}">
                <a class="dropdown-item d-flex align-items-center clicky_log_outbound" th:href="${affiliateLinks.amazon}" target="_blank" rel="noopener sponsored">
                    <i class="fas fa-shopping-cart text-warning me-2"></i> Amazon.com
                </a>
            </li>
            <li th:if="${affiliateLinks.barnesAndNoble}">
                <a class="dropdown-item d-flex align-items-center clicky_log_outbound" th:href="${affiliateLinks.barnesAndNoble}" target="_blank" rel="noopener sponsored">
                    <i class="fas fa-store me-2"></i> Barnes & Noble
                </a>
            </li>
            <li th:if="${affiliateLinks.bookshop}">
                <a class="dropdown-item d-flex align-items-center clicky_log_outbound" th:href="${affiliateLinks.bookshop}" target="_blank" rel="noopener sponsored">
                    <i class="fas fa-shopping-bag me-2"></i> Bookshop.org
                </a>
            </li>
            <li th:if="${affiliateLinks.audible}">
                <a class="dropdown-item d-flex align-items-center clicky_log_outbound" th:href="${affiliateLinks.audible}" target="_blank" rel="noopener sponsored">
                    <i class="fas fa-headphones-alt me-2"></i> Audible
                </a>
            </li>
        </ul>
    </div>
</div> 